/*=========================
    ------ Fonts ------
  =========================*/

@font-face {
    font-family: BlackJack;
    src: url('fonts/BLACKJAR.TTF');
}

/*=========================
    ------ Header ------
  =========================*/

nav ul {
    list-style-type: none;
    margin-top: 0;
    padding: 10px;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation li a {
    width: 10px;
    padding: 0.8em;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-size: 18px;
}

.site-navigation li a[href] {
    color: white;
    transition: .2s all;
}

.site-navigation li a[href]:hover {
    border-bottom: solid .2em white;
    border-width: 2px;
}

header ul li a[href] {
    text-decoration: none;
    border-bottom: solid .2em transparent;
    border-width: 2px;
    transition: .4s all;
}

.site-header {
    padding-top: 20px;
    padding-bottom: 1px;
    background-image: url('/img/backtothesea.jpg');
    background-size: auto 500%;
    background-position: 50% 50%;
    width: 100%;
    position: relative;
}

.container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    z-index: 200;
    position: relative;
}

.name {
    color: white;
    font-family: "BlackJack";
    font-size: 60px;
    margin: 0;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
    height: 100%;
    width: 100%;
    margin-top: -20px;
}

/*=========================
    ------ Document ------
  =========================*/

body, html {
    background-color: white;
    margin: 0 0 40px 0;
    padding: 0;
}

p {
    color: black;
    font-family: "freight-text-pro";
    line-height: 1.5em;
}

p a {
    font-family: "freight-text-pro";
    text-decoration: none;
    color: black;
}

p a:hover {
    text-decoration: underline;
}

/*=========================
    ------ Blog Posts ------
  =========================*/

.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

.post-title {
    font-family: "jaf-bernino-sans";
    letter-spacing: -0.02em;
    font-size: 35px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 0;
    color: black;
    text-align: left;
}

.summary {
    font-family: "jaf-bernino-sans";
    letter-spacing: -0.02em;
    font-size: 25px;
    margin-top: -8px;
    color: black;
}

.date {
    font-family: "jaf-bernino-sans";
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
    color: black;
    text-align: left;
}

.tags-line {
    text-align: center;
    font-family: "Born";
    font-size: 11px;
    color: #9a8f8f;
    margin-top: -10px;
}

.no-tags {
    display: inline;
    color: #9a8f8f;
}

.tags {
    font-size: 11px;
    text-align: center;
    display: inline;
    color: #9a8f8f;
}

.post ul {
    list-style-type: disc;
    margin-top: 0;
}

.post p {
    margin-bottom: 0;
}

.post {
    margin-bottom: 50px;
    padding-bottom: 15px;
}