/*=========================
    ------ Fonts ------
  =========================*/

@font-face {
    font-family:BlackJack;
    src: url('fonts/BLACKJAR.TTF');
}

/*=========================
    ------ Header ------
  =========================*/

nav ul {
    list-style-type: none;
    margin-top: 0;
    padding: 10px;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation li a {
    width: 10px;
    padding: 0.8em;
    font-family: "Source Sans Pro";
    font-weight: 500;
    font-size: 18px;
}

.site-navigation li a[href] {
    color: white;
    transition: .4s all;
}

.site-navigation li a[href]:hover {
    border-bottom: solid .2em #FFFFFF;
    border-width: 2px;
}

header ul li a[href] {
    text-decoration: none;
    border-bottom: solid .2em transparent;
    border-width: 2px;
    transition: .4s all;
}

.site-header {
    padding-top: 30px;
    padding-bottom: 1px;
    background-image: url('/img/header-bg.jpg');
    background-size: 100% 100%;
    width: 100%;
    position: relative;
}

.container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 200;
}

.name {
    color: white;
    font-family: "BlackJack";
    font-size: 60px;
    margin: 0;

}

.description {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
    height: 100%;
    width: 100%;
    margin-top: -30px;
}


/*=========================
    ------ Document ------
  =========================*/

body, html {
    background-color: white;
    margin: 0 0 40px 0;
    padding: 0;
}

p {
    color: black;
    font-family: "source sans pro";
    line-height: 1.5em;
}

p a {
    font-family: "Source Sans Pro";
    text-decoration: none;
    color: black;
    border-bottom: solid 1px black;
}

p a[href] {
    padding-bottom: 1px;
}

p a:hover {
    color: #5295d4;
    transition: all 0.4s ease 0s;
    border-color: #5295d4;
}

/*=========================
    ------ Body ------
  =========================*/


.content-title {
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.content-paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 800px;
}

.post-list span {
    float: right;
    font-size: 12px;
    vertical-align: -30px;
}

ul {
    margin-top: 30px;
}

li {
    font-family: "Source Sans Pro";
    list-style-type: none;
    margin: 10px 0 10px 0;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}


