<header class="site-header">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="name">Yangzi He</h1>
        <nav class="site-navigation">
            <ul>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/projects/">Projects</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a href="http://github.com/yangzihe">Github</a>
                </li>
                <li>
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>