<!DOCTYPE HTML>
<html>
  <head>
    <script src="//use.typekit.net/zwp4rtz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta charset="utf-8">
    <link rel="icon" href="../website_logo.ico" sizes="16x16 32x32 128x128 256x256">
    <link rel="stylesheet" type="text/css" href="/css/post-style.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
    <title>{{ page.title }} | Blog</title>
  </head>

  <body>
    {% include post-header.html %}
      <div class="page-content">
        <div class="wrapper">
          <div class="post-title">
            {{ page.title }}
          </div>
          <div class="date">
            {{ page.date | date: "%B %d, %Y"}}
          </div>
          {{ content }}
        </div>
      </div>
  </body>
</html>